<h1>Listing discussions</h1>

<table>
  <tr>
    <th>User</th>
    <th>Content</th>
    <th>Discussable</th>
    <th>Discussable type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @discussions.each do |discussion| %>
  <tr>
    <td><%= discussion.user_id %></td>
    <td><%= discussion.content %></td>
    <td><%= discussion.discussable_id %></td>
    <td><%= discussion.discussable_type %></td>
    <td><%= link_to 'Show', [discussion.problem, discussion.super_answer, discussion] %></td>
    <td><%= link_to 'Edit', edit_problem_answer_discussion_path(discussion.problem, discussion.super_answer, discussion) %></td>
    <td><%= link_to 'Destroy', [discussion.problem, discussion.super_answer, discussion], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Discussion', new_problem_answer_discussion_path %>
