<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @discussion.user_id %>
</p>

<p>
  <b>Content:</b>
  <%= @discussion.content %>
</p>

<p>
  <b>Discussable:</b>
  <%= @discussion.discussable_id %>
</p>

<p>
  <b>Discussable type:</b>
  <%= @discussion.discussable_type %>
</p>


<%= link_to 'Edit', edit_problem_answer_discussion_path(@discussion.problem, @discussion.super_answer, @discussion) %> |
<%= link_to 'Back', problem_answer_discussions_path(@discussion.problem, @discussion.super_answer) %>
