<p id="notice"><%= notice %></p>

	<h3>Title: <%= @discussion.title %></h3>
	content: <%= @discussion.content %><br>
	created_at <%= @discussion.created_at %><br>
	created_by <%= @discussion.user.name %><br>



<%= render @discussion.discussions %>

<hr>

<%= render partial: "discussions/form", object: @discussion, locals: { discussion: @new_discussion } %>

<%= link_to "Reply", reply_problem_answer_discussion_path(@discussion.problem, @discussion.super_answer, @discussion) %> |
<%= link_to 'Edit', edit_problem_answer_discussion_path(@discussion.problem, @discussion.super_answer, @discussion) %> |
<%= link_to 'Back', problem_answer_discussions_path(@discussion.problem, @discussion.super_answer) %>
















