<p id="notice"><%= notice %></p>

<h2>
  <%= link_to @discussion.super_answer.problem.title, @discussion.super_answer.problem %> > 
  <%= link_to @discussion.super_answer.content[0..10], [@discussion.super_answer.problem, @discussion.super_answer] %> > 
  <%= link_to @discussion.content[0..20], [@discussion.super_answer.problem, @discussion.super_answer, @discussion] %>
</h2>

<%= div_for(@discussion.discussions) do |d| %>
  <%= d.content %><br />
  <%= link_to "Show", reply_problem_answer_discussion_path(d.problem, d.super_answer, d) %>
<% end %>

<%= link_to "Reply", reply_problem_answer_discussion_path(@discussion.problem, @discussion.super_answer, @discussion) %> |
<%= link_to 'Edit', edit_problem_answer_discussion_path(@discussion.problem, @discussion.super_answer, @discussion) %> |
<%= link_to 'Back', problem_answer_discussions_path(@discussion.problem, @discussion.super_answer) %>
