<div class="container content">
	<div class="row">
		<div class="span9">
			<div class="qindex-board">
				<div class="qindex">
					<p id="notice"><%= notice %></p>
					<h2>???>???>H.??>????>???
					<%= link_to_watch @problem %>
					</h2><br>
					<%= link_to 'Edit', edit_problem_path(@problem) %>
					<hr>
				</div>
				タグ：<% tag_cloud(@problem.tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
				<%= link_to tag.name, tag_problems_path(tag.name) , :class => css_class %>
				<% end %><br>
				<span class="at-by">
				作成日： <%= @problem.created_at %>
				作成者： <%= @problem.user.name %>
				</span>
				<br><br>
			</div>

			<div class="question">
				<%= image_tag "q_40.png", class: "q_40 span1" %><%= raw Sanitize.clean(@problem.content, Sanitize::Config::RELAXED) %>
			</div>

			<div class="reference span8">
				<div class="row">
					<div class="accordion span6" id="accordion1">
						<div class="accordion-group">
							<div class="according-heading">
								<a href="#collapseOne" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1">
									<%= image_tag "r.png", class: "r" %>参考(2)
								</a>
							</div>
							<div class="according-body collapse" id="collapseOne">
								<div class="accordion-inner">
									<a href="">test1</a>
								</div>
								<div class="accordion-inner">
									<a href="">test2</a>
								</div>
							</div>
						</div>
					</div>

					<div class="span2">
						<%= render @problem.references %>
						<%= link_to "+ Reference ", new_problem_reference_path(@problem), class: "btn btn-warning" %>
					</div>
				</div><hr>
			</div>

			<div class="answer">
				<%= render @problem.answers %>
			</div>

			<div class="new-answer">
				<%= render partial: "answers/form", object: @answer %>
			</div>
		</div>
	</div>
</div>

