<p id="notice"><%= notice %></p>

<%= link_to_watch @problem %>

<%= link_to 'Edit', edit_problem_path(@problem) %>

<hr>

<%= @problem.tags %><br>
Created at <%= @problem.created_at %><br>
Created by <%= @problem.user.name %><br>

<hr>

<%= raw Sanitize.clean(@problem.content, Sanitize::Config::RELAXED) %>

<hr>

<h3>References</h3>

<ul>
	<%= render @problem.references %>
</ul>
<%= link_to "+ Reference ", new_problem_reference_path(@problem), class: "btn btn-warning" %><br>
<hr>

<%= render @problem.answers %>

<hr>

<h3>New Answer</h3>
<%= render partial: "answers/form", object: @answer %>
