<p id="notice"><%= notice %></p>

<h2><%= @problem.title %></h2>
<br>
<%= link_to_watch @problem %><br>
<%= div_for @problem.answers do |answer| %>
  <%= link_to answer.content[0..20], [@problem, answer] %>
<% end %>

<%= link_to "Create new Answer", new_problem_answer_path(@problem) %> |
<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
