<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @problem.content %>
</p>

<p>
  <b>User:</b>
  <%= @problem.user_id %>
</p>

<p>
  <b>Answers:</b>
  <% @problem.answers.each do |answer| %>
    <%= link_to "answer", [@problem, answer] %>
  <% end %>
</p>

<%= link_to "Create new Answer", new_problem_answer_path(@problem) %> |
<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
