<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= @user.email %>

<h2>watched problems</h2>

<%= avatar_tag @user %>

<% @user.watched_problems.each do |p| %>
  <%= p %><br>
<% end %>

<h2>Badges</h2>
<% @user.badges.each do |b| %>
  <%= b.name %>
<% end %>

<h2>following users</h2>
<% @user.followings.each do |u| %>
  <%= link_to u.email, u %>
<% end %>

<h2>followed users</h2>
<% @user.followers.each do |u| %>
  <%= link_to u.email, u %>
<% end %>

<%= link_to "Edit user's profile", profile_edit_users_path(current_user) %>