<div class="answer">
	
	<h3>Answers</h3>

	title: <%= answer.title %><br>
  content: <%= sanitize_it answer.content %><br>
  <br>
  <br>

  <%= link_to "edit answer", edit_problem_answer_path(answer.problem, answer) %>

  <hr>

  <h3>Discussions</h3>
  discussions: <%= answer.discussions.count %><br>
	<ul>
		<%= render partial: "discussions/discussion_li", collection: answer.discussions %>
	</ul>
	<%= link_to "+ Discussion", new_problem_answer_discussion_path(answer.problem_id, answer.id), class: "btn btn-success" %>
</div>
<hr/>