<div class="answer">
  title: <%= link_to answer.content[0..20], [@problem, answer] %><br>
  content: <%= raw Sanitize.clean(answer.content, Sanitize::Config::RELAXED) %><br>
  discussions: <%= answer.discussions.count %><br>
  <br>
  <%= link_to "good", problem_answer_good_path(@problem, answer), method: :post %><br>
  <%= link_to "bad", problem_answer_bad_path(@problem, answer), method: :post %><br>
  <br>
  <%= link_to "show", [answer.problem, answer] %><br>
  <%= link_to "edit", edit_problem_answer_path(answer.problem, answer) %>
  <h3>Discussions</h3>
  <%= render answer.discussions %>
</div>
<hr/>