<div class="answer">
	
	<h3>Answers</h3>

	title: <%= answer.title %><br>
  content: <%= raw Sanitize.clean(answer.content, Sanitize::Config::RELAXED) %><br>
  <br>
  <br>

  <h3>Discussions</h3>
  discussions: <%= answer.discussions.count %><br>
	<ul>
		<%= render partial: "discussions/discussion_li", collection: answer.discussions %>
	</ul>
	<%= link_to "+ Discussion", new_problem_answer_discussion_path(answer.problem_id, answer.id), class: "btn btn-success" %>
</div>
<hr/>