<h1>Listing answers</h1>

<table>
  <tr>
    <th>Problem</th>
    <th>User</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @answers.each do |answer| %>
  <tr>
    <td><%= answer.problem_id %></td>
    <td><%= answer.user_id %></td>
    <td><%= answer.content %></td>
    <td><%= link_to 'Show', [answer.problem, answer] %></td>
    <td><%= link_to 'Edit', edit_problem_answer_path(answer.problem, answer) %></td>
    <td><%= link_to 'Destroy', [answer.problem, answer], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Answer', new_problem_answer_path(params[:problem_id]) %>
