<p id="notice"><%= notice %></p>

<h2>
  <%= link_to @answer.problem.title, @answer.problem %>
   > <%= link_to @answer.content[0..20], [@answer.problem, @answer] %>
</h2>

<h3>Discussions</h3>
<%= div_for(@answer.discussions) do |d| %>
  <%= d.content %><br />
  <%= link_to "Parmalink", [@answer.problem, @answer, d] %>
<% end %>

<%= link_to "Create new discussion", new_problem_answer_discussion_path(@answer.problem, @answer) %> |
<%= link_to 'Edit', edit_problem_answer_path(@answer.problem, @answer) %> |
<%= link_to 'Back', problem_answers_path %>
