<p id="notice"><%= notice %></p>

<p>
  <b>Problem:</b>
  <%= @answer.problem_id %>
</p>

<p>
  <b>User:</b>
  <%= @answer.user_id %>
</p>

<p>
  <b>Content:</b>
  <%= @answer.content %>
</p>

<p>
  <b>Discussions:</b>
  <% @answer.discussions.each do |discussion| %>
    <%= link_to "discussion", [@answer.problem, @answer, discussion] %>
  <% end %>
</p>

<%= link_to "Create new discussion", new_problem_answer_discussion_path(@answer.problem, @answer) %> |
<%= link_to 'Edit', edit_problem_answer_path(@answer.problem, @answer) %> |
<%= link_to 'Back', problem_answers_path %>
