<p id="notice"><%= notice %></p>

<p>
  <b>Problem:</b>
  <%= @answer.problem_id %>
</p>

<p>
  <b>User:</b>
  <%= @answer.user_id %>
</p>

<p>
  <b>Content:</b>
  <%= @answer.content %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
