<!-- navbar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
			<!-- brand -->
      <%= link_to (image_tag "brand.png"), root_path, class: "brand" %>
			<!-- nav left -->
			<ul class="nav pull-left">
        <li class="divider-vertical"></li>
				<li class="nav-question-search"><%= link_to "問題検索", problems_path, rel: "tooltip","data-original-title"=>"問題検索" , class: "nav-tip" %></li>
        <li class="divider-vertical"></li>
				<li class="nav-question-create"><%= link_to "+", new_problem_path, rel: "tooltip", "data-original-title"=>"問題作成", class: "nav-tip" %></li>
			</ul>
			<!-- search form -->
			<form class="navbar-search pull-left">
				<input type="text" class="search-jquery" placeholder="Search..." />
			</form>
			<!-- nav right -->
			<ul class="nav pull-right">
        <li class="nav-collection"><%= link_to "コレクション", nil, rel: "tooltip", "data-original-title"=>"コレクション", class: "nav-tip" %></li>
		    <li class="nav-badge"><%= link_to "バッジ", badges_path, rel: "tooltip", "data-original-title"=>"バッジ", class: "nav-tip" %></li>
        <li class="nav-user"><%= link_to "ユーザー一覧", users_path, rel: "tooltip", "data-original-title"=>"ユーザー一覧", class: "nav-tip" %></li>
        <li class="nav-ranking"><%= link_to "ランキング", nil, rel: "tooltip", "data-original-title"=>"ランキング", class: "nav-tip" %></li>
				<li class="divider-vertical"></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						User<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><%= image_tag "user_25.png" %><%= link_to "saiwaki/サイワキヒトシ", current_user %></li>
		        <li><%= link_to "通知", nil %></li>
		        <li><%= link_to "設定", edit_user_registration_path %></li>
		        <li><%= link_to "ヘルプ", nil %></li>
		        <li><%= link_to "Sign in", new_user_session_path if not user_signed_in? %></li>
		        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete if user_signed_in? %></li>
					</ul>
				</li>
				<li class="divider-vertical"></li>
			</ul>
    </div>
  </div>
</div>
<script>
     $(function(){
	 $("a[rel=tooltip]").tooltip({placement:'bottom'});
    });
</script>